#div1
{
color:red;
font-size:24px;
text-align:justify;
position:absolute;
top:20px;
left:30px;
right:380px;
}
#div2
{
color:red;
position:absolute;
top:50px;
right:10px;
}
#div3
{
color:skyblue;
position:absolute;
top:300px;
left10px" 
}
#div4
{
color:skyblue;
font-size:24px;
text-align:justify;
position:absolute;
top:270px;
left:330px;
right:50px;
}